<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
        <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo">Messenger</a>
            <nav>
                <a href="/login">Вход</a>
                <a href="/register">Регистрация</a>
            </nav>
        </div>
    </header>
    <main>
        <h1>Добро пожаловать в мессенджер</h1>
        <p>Здесь вы можете общаться с друзьями и близкими, создавая чаты и делясь моментами своей жизни.</p>
        <button class="start-btn" onclick="location.href='/register'">Начни сейчас</button>
    </main>
</body>
</html>